@model CardSet
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h1>Results</h1>

Deck Id: @Model.deck_id
<br />
Remaining: @Model.remaining
<br />

@foreach (Card ca in Model.cards)
{
    <div>Suit: @ca.suit</div>
    <div>Value: @ca.value</div>
    <img src="@ca.image"/>
    <br/>
}


<a href="/CardGame/Index?deck_id=@Model.deck_id" class="btn btn-primary">Draw 5 cards !</a>